<div class='wrapper'>
  <div class='side-bar'>
    <%= render 'meetings/side_bar' %>
  </div>
  <div class='main-container'>
    <div class='transcript-title'>
      文字起こし機能
    </div>
    <%= form_with model: @transcript, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="title">
        <%= f.label :name, 'タイトル（打合せ名など）', for: 'transcript-title'%><br>
        <%= f.text_field :name, id: 'transcript-title' %>
      </div>
      <div class="audio-data">
        <%= f.label :voice_data, '音声データ', for: 'transcript-voice-data'%><br>
        <p>・ファイル形式は、FLAC・MP3・WAVに対応しています。</p>
        <p>・サンプリングレートは、8,000Hz(8kHz)〜48,000Hz(48kHz)の間で録音する必要があります。</p>
        <p> - 最良の結果を得る為には、16,000Hz(16kHz)にて録音ください。</p>
        <p> - 録音後のサンプリングレート変更は、エラーの原因となります。</p>
        <%= f.file_field :voice_data, id: 'transcript-voice-data', accept: 'audio/flac, audio/mpeg, audio/wav'%>
      </div>
      <div class="audio-data">
        言語選択<br>
        <label><%= f.radio_button :language, "ja-JP", checked: true %>日本語 Japanese</label>
        <label><%= f.radio_button :language, "en-US" %>英語 English</label>
      </div>
      <div class="audio-data">
        会話の人数<br>
        <%= f.select :number_of_people, options_for_select([['1人', 1], ['2人', 2], ['3人', 3], ['4人', 4], ['5人', 5], ['6人以上', 6]]) %>
      </div>
      <audio id="audio-player" controls></audio>
      <input type="hidden" name="audio_duration" id="audio-duration">
      <%= f.submit "送信する", class: 'submit-btn' %>
    <% end %>
  </div>
</div>