<div class='side-header'>
  <div class='header-name'>
    <%= link_to current_user.nickname, profile_path(current_user.id) %>さん
  </div>
</div>
<div class='side-menu'>
  <div class='side-menu-branch'>
    <p>議事録 作成・閲覧</p>
    <div class='menu-btn'>
      <%= link_to '新規作成', new_meeting_path %>
    </div>
    <div class='menu-btn disabled' id='edit-btn'>
      <%= link_to '編集', '#', id: "edit_btn_link" %>
    </div>
    <div class='menu-btn disabled' id='delete-btn'>
      <%= link_to '削除', '#', method: :delete, data: { confirm: "本当に削除しますか？削除したデータは戻すことが出来ません。" }, id: "delete_btn_link" %>
    </div>
    <div class='menu-btn disabled' id='access-permit-btn'>
      <%= link_to '共有設定', '#', id: "access_permit_btn_link" %>
    </div>
    <div class='menu-btn disabled' id='show-meeting-btn'>
      <%= link_to '閲覧', '#', id: "show_meeting_btn_link" %>
    </div>
  </div>
  <div class='side-menu-branch'>
    <p>文字起こし機能</p>
    <div class='menu-btn'>
      <%= link_to '新規作成', new_transcript_path %>
    </div>
    <div class='menu-btn disabled' id='show-transcript-btn'>
      <%= link_to '閲覧', '#', id: "show_transcript_btn_link" %>
    </div>
    <div class='menu-btn disabled' id='delete-transcript-btn'>
      <%= link_to '削除', '#', method: :delete, data: { confirm: "本当に削除しますか？削除したデータは戻すことが出来ません。" }, id: "delete_transcript_btn_link" %>
    </div>
  </div>
  <div class='side-menu-branch'>
    <div class='menu-btn'>
      <%= link_to 'トップページに戻る', root_path %>
    </div>
    <div class='menu-btn logout-btn'>
      <%= link_to 'ログアウトする', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>