<div class='side-header'>
  <div class='header-name'>
    <%= link_to current_user.nickname, "#" %>さん
  </div>
</div>
<div class='side-menu'>
  <div class='create-meeting-menu'>
    <p>議事録作成メニュー</p>
    <div class='menu-btn'>
      <%= link_to '新規作成', new_meeting_path %>
    </div>
    <div class='menu-btn disabled' id='edit-btn'>
      <%= link_to '編集', '#', id: "edit_btn_link" %>
    </div>
    <div class='menu-btn disabled' id='delete-btn'>
      <%= link_to '削除', '#', id: "delete_btn_link" %>
    </div>
  </div>
  <div class='return-menu'>
    <div class='menu-btn'>
      <%= link_to 'トップページに戻る', root_path %>
    </div>
    <div class='menu-btn logout-btn'>
      <%= link_to 'ログアウトする', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>