<% if transcripts.present? %>
  <div class='column-name'>
    <div class='transcript-list-name'>
      タイトル
    </div>
    <div class='transcript-list-status'>
      状態
    </div>
    <div class='transcript-list-created_at'>
      送信日時
    </div>
  </div>
  <% transcripts.each do |transcript| %>
    <div class='meeting-record transcript-record' id="transcript-id-<%= transcript.id %>">
      <div class='transcript-list-name'>
        <%= transcript.name %>
      </div>
      <div class='transcript-list-status'>
        <% start_time = transcript.created_at.localtime.strftime('%H:%M:%S') %>
        <% expected_time = transcript.created_at.since(transcript.audio_duration).localtime.strftime('%H:%M:%S') %>
        <% case transcript.status %>
          <% when 1 %>
            <%= '完了' %>
          <% when 0 %>
            <%= '変換中' %>
            <progress class="transcript_progress" id="progress-id-<%= transcript.id %>" max="100">完了予想時刻：<%= expected_time %>/開始時刻：<%= start_time %></progress>
          <% when -1 %>
            <%= 'エラー' %>
        <% end %>
      </div>
      <div class='transcript-list-created_at'>
        <%= transcript.created_at.localtime.strftime('%Y-%m-%d %H:%M') %>
      </div>
    </div>
  <% end %>
<% else %>
  現在、文字起こしデータはありません。
<% end %>