<div class='wrapper'>
  <div class='side-bar'>
    <%= render 'side_bar' %>
  </div>
  <div class='main-screen'>
    <%= flash[:notice] %>
    <div class='upper-index'>
      <div class='index-title'>
        <%= current_user.nickname %>さんが作成した議事録
        <%= paginate @my_meetings, param_name: :my_meetings_page, window: 2 %>
      </div>
      <div class='meetings'>
        <%= render partial: "meeting_list_create", locals: { meetings: @my_meetings } %>
      </div>
    </div>
    <div class='middle-index'>
      <div class='index-title'>
        閲覧できる議事録
        <%= paginate @permitted_meetings, param_name: :permitted_meetings_page, window: 2 %>
      </div>
      <div class='meetings'>
        <%= render partial: "meeting_list_show", locals: { meetings: @permitted_meetings } %>
      </div>
    </div>
    <div class='lower-index'>
      <div class='index-title'>
        文字起こしデータ
        <%= paginate @transcripts, param_name: :transcripts_page, window: 2 %>
      </div>
      <div class='meetings'>
        <%= render partial: "transcript_list", locals: { transcripts: @transcripts } %>
      </div>
    </div>
  </div>
</div>
