<div class='wrapper'>
  <div class='side-bar'>
    <%= render 'side_bar' %>
  </div>
  <div class='main-screen'>
    <div class='upper'>
      <div class='upper-left'>
        <div class='meeting-content-group'>
          打合せ名称
          <p><%= @meeting.name %></p>
        </div>
        <div class='meeting-content-group'>
          打合せ日時
          <p><%= @meeting.meeting_date %>-<%= @meeting.meeting_time.strftime('%H:%M') if @meeting.meeting_date.present? %></p>
        </div>
        <div class='meeting-content-group'>
          打合せ場所
          <p><%= @meeting.place %></p>
        </div>
      </div>
      <div class='upper-right'>
        <div class='meeting-content-group'>
          出席者
          <p><%= @meeting.attendance %></p>
        </div>
        <div class='meeting-content-group'>
          議事録共有ユーザー
          <% @permitted_users.each do |permitted_user| %>
            <p><%= permitted_user.nickname %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class='meeting-content-group'>
      打合せ内容
      <p><%= @meeting.speech %></p>
    </div>
  </div>
</div>