<div class='wrapper'>
  <div class='side-bar'>
    <%= render 'meetings/side_bar' %>
  </div>
  <div class='main-screen'>
    <div class='access-permit-title'>
      議事録共有設定
    </div>
    <div class="meeting-info">
      <%= @meeting.name %><br>
      <%= @meeting.meeting_date %>
      <%= @meeting.meeting_time %><br>
      <%= @meeting.attendance %><br>
    </div>
    <div class="search-form">
      検索フォーム
    </div>
    <%= form_with url: '' do |f| %>
      <div class='access-permit-select-form'>
        <div class="user-select-box" >
          <%= f.label :user_id, '選択可能なユーザー', for: 's1' %>
          <%= f.select :user_id, options_for_select(@users.map{|user| [user.nickname, user.id] }), {}, {class: "user-select-box", id: "s1", size: "10", multiple: "multiple"} %>
        </div>
        <div>
          <input type="button" class="user-select-btn" id="right-btn" value=">>"><br><br>
          <input type="button" class="user-select-btn" id="left-btn" value="<<">
        </div>
    <% end %>
    <%= form_with url: meeting_access_permits_path, local: true do |f| %>
        <div>
          <div class="user-select-box" >
            <%= f.label :user_id, '共有ユーザー', for: 's2' %>
            <%= f.select :user_id, options_for_select(@access_permits.map{|access_permit| [access_permit.user.nickname, access_permit.user_id] }), {}, {class: "user-select-box", id: "s2", size: "10", multiple: "multiple"} %>
          </div>
          <div class='access-permit-actions'>
            <%= f.submit "保存する", class: "submit-btn", id: "submit-btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>